{{#if error}}
    <p>You dun goofed up son</p>
{{/if}}
    <form id="formprofileedit" method="post">
        <div class="profileeditcontainer">


        <div class="profileeditlabels" id="firstnameprofilelabel">
            <label for="firstname">First Name:</label>
        </div>
        <div id="profileeditfields">
            <input class="profileeditinputs" type="text" name ="firstname" value ="{{first}}"/>
        </div>

        <div class="profileeditlabels" id="lastnameprofilelabel">
            <label for="lastname">Last Name:</label>
        </div>
        <div id="profileeditfields">
            <input class="profileeditinputs" type="text" name="lastname" value="{{last}}" />
        </div>


        <div class="profileeditlabels" id="emailprofileedit">
            <label for="email">Email:</label>
        </div>
        <div id="profileeditfields">
            <input class="profileeditinputs" type="text" name ="email"  value="{{#if email}}{{email}}{{/if}}" />
        </div>

        <div class="profileeditlabels" id="passwordprofileedit">
            <label for="password">Password:</label>
        </div>
        <div id="profileeditfields">
            <input class="profileeditinputs" type="password" name ="password" value="" />
        </div>


        <div class="profileeditlabels" id ="ageprofileedit">
            <label for="age">Age:</label>
        </div>
        <div id="profileeditfields">
            <input class="profileeditinputs" type="text"  name ="age" value ="{{#if age}}{{age}}{{/if}}"/>
        </div>

        <div class="profileeditlabels" >
            <label for"city">City:</labael>
            </div>
        <div id="profileeditfields">
            <input class="profileeditinputs" type="text" name ="city"value ="{{#if city}}{{city}}{{/if}}"/>
        </div>

        <div class="profileeditlabels" id="homepageprofileedit">
            <label for"homepage">Homepage:</homepage>
            </div>
        <div>
                <input class="profileeditinputs" type="text" name ="homepage"  value ="{{#if homepage}}{{homepage}}{{/if}}"/>
        </div>


        <input type="hidden" name="_csrf" value="{{Token}}">
    </div>
    <!-- <input class="submit" type="submit" value="Update"> -->
    <div class="button" id="editprofilebuttoncontainer">
        <div class="button">
            <button class="editprofilepagebutton" id="editprofilesubmitbutton" type="submit" >Update</button>
        </div>
        <div class="button">
            <a href='/petition/signed'><button class="editprofilepagebutton" id="profileeditskip" type="button"> Skip</button></a>
        </div>
    </div>

    </form>



<div class="button" >
    <button id="signout" type='button'><a href='/signout' id="signouttext">Signout</a></button>
