<img id="image" src="./coming-soon.jpg"></img>
<div class="signatures">

    {{#signatures}}
        <ul class="signees">
            <li><a href="http://localhost:8080/signatures/{{ homepage }}">{{ first }} {{ last }}</a> {{#if age}}({{age}},{{/if}} {{#if city}}{{city}}{{/if}})</li>
        </ul>
    {{/signatures}}
</div>

<p><a href='/thanks' >Go back</a></p>
<p><a href='/signout' >If you wish to sign out</a></p>
