<div class="signatures">


    {{#signatures}}
        <ul class="signees">
            {{#if url}}<li><a target="_blank" href="http://{{ url }}">{{ first }} {{ last }}</a>{{/if}}

            {{#unless url}}<li>{{first}} {{last}}{{/unless}}


            {{#if age}}({{age}} years old){{/if}}
            {{#if city}}<a href="/signers/{{city}}">{{city }} </a> {{/if}}</li>
            <li>{{#if message}}"{{message}}"{{/if}}</li>
        </ul>
    {{/signatures}}
</div>




<div class="button" >
    <a href='/profile/edit' id="profileedittext"><button id="profileeditbutton" type='button'>Edit Profile</button></a>
</div>


<div class="button" >
    <a href='/petition/signed' id="gobacktext"><button id="gobackbutton" type='button'>Go back</button></a>
</div>

<div class="button" >
    <a href='/signout' id="signouttext"><button id="signout" type='button'>Sign out</button></a>
</div>
