<div class="signatures">


    {{#signatures}}
        <ul class="signees">
            {{#if url}}<li><a href="http://{{ url }}">{{ first }} {{ last }}</a>{{/if}}

            {{#unless url}}<li>{{first}} {{last}}</li>{{/unless}}


            {{#if age}}{{age}}{{/if}}
            {{#if city}}<a href="/signers/{{city}}">{{city }} </a> {{/if}}</li>
        </ul>
    {{/signatures}}
</div>




<div class="button" >
    <button id="profileeditbutton" type='button'><a href='/profile/edit' id="profileedittext">Edit Profile</a></button>
</div>


<div class="button" >
    <button id="gobackbutton" type='button'><a href='/petition/signed' id="gobacktext">Go back</a></button>
</div>

<div class="button" >
    <button id="signout" type='button'><a href='/signout' id="signouttext">Signout</a></button>
</div>
